@import "../bower_components/bootstrap/scss/bootstrap";


// variables

$body-background-color: #070D79;
$main-color: #B67B0B;
$buttons-background-color : #006400;

// fonts
/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Oswald Regular'), local('Oswald-Regular'),
         url('../fonts/oswald-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/oswald-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oswald-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  /* oswald-700 - latin */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oswald-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Oswald Bold'), local('Oswald-Bold'),
         url('../fonts/oswald-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/oswald-v16-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oswald-v16-latin-700.ttf') format('truetype')
  }


// General rule stes
body {
    font-family: 'Oswald', sans-serif;
    background-color: $body-background-color;
}
.wrapper {
    border: 4px solid $main-color;
}


//   Header section starts here
h1 {
    color: $main-color;
    font-size: 400%;
    @media only screen and (max-width: 768px) {
        font-size: 250%;
    }
}

.list {
    text-align: center;
    width: 80px;
    background-color: $buttons-background-color;
    color: $white;
    border: 3px solid $main-color;
    &:hover,
    &:focus,
    &:active {
        background-color: $main-color;
        color: $body-background-color;
        width: 90px;
    }
}

// Header ends here


// Individual channels rules starts here

    .channels {
        border: 4px solid $main-color;
        overflow: hidden;
        img {
            @media only screen and (min-width: 769px) {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                border: 4px $main-color solid;
            }
            @media only screen and (max-width:768px) {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                border: 2px $main-color solid;
            }
        }
        .font {
            @media only screen and (min-width: 769px) {
                text-align: center;
                height: 100px;
                line-height: 100px;
                color: $main-color;
                font-size: 20px;
                font-weight: bold;
            }
            @media only screen and (max-width:768px) {
                text-align: center;
                height: 60px;
                line-height: 60px;
                color: $main-color;
                font-size: 15px;
                font-weight: bold;
            }
        }
        .status {
            text-align: center;
            height: 100px;
            line-height: 100px;
            color: $main-color;
            font-size: 15px;
        }
    }